#map {
    height: 65%;
    width: auto;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 10px;
    font-family: "Helvetica";
}

.row {
    display: flex;
    padding: 0px 0px 25px 0px;
}
.col {
    flex: 1;
    padding: 1em;
    border: solid;
}