#map {
    height: 65%;
    width: auto;
    margin-top: 25px;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 10px;
    font-family: Tahoma, Verdana, Segoe, sans-serif;
}

.row {
    display: flex;
    padding: 0px 0px 25px 0px;
}
.col {
    flex: 1;
    padding: 1em;
    border: solid;
}

#boxDIV{
    color: #fff;
    padding: 10px;
}
.container{
    background-color:#2E4272;
    display:flex;
}
.flex-item{
    background-color:#7887AB;
    flex-grow: 1;
    padding: 5px;
}